body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    margin-bottom:2rem;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.submit{
    margin-top: 0.5rem;
    background-color: rgb(44, 151, 75);
    border: 1px solid rgb(210, 210,210);
    padding: 0.25rem 2rem;
    border-radius: 0.75rem;
    font-weight: 500;
    color:white;
}

.submit:hover{
    background-color: rgb(34, 141, 65);
}