{% extends 'pets/layout.html' %}
{% load static %}

{% block title %} 
    Pet Sitter You - Profile - {{ user.last_name }} 
{% endblock %}

{% block body %}
<div class="sticky-top sticky bg-white shadow text-center p-2" id="header">
    <h5>{{ profile_user.first_name }}</h5>
</div>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12 col-lg-8 order-2 order-lg-1 my-3 my-lg-0">
            <div class="card shadow alt-card py-3 px-4 text-start">
                <p class="fs-5 mx-auto"><u>{{ profile_user.first_name }}'s bio</u></p>
                <h2>
                    {% if profile_user.bio %}
                        {{ profile_user.bio }}
                    {% else %}
                        Hello. My name is {{ profile_user.first_name }}, 
                        I'm 
                        {% if profile_user.is_pet_owner %}
                            {% if profile_user.is_pet_sitter %}
                                both a Pet Sitter and a Pet Owner
                            {% else %}
                                a Pet Owner 
                            {% endif %}
                        {% else %}
                            a Pet Sitter
                        {% endif %}
                    at PSY! 
                    {% endif %}
                    
                </h2>
            </div>
            {% if profile_user.is_pet_owner %}
                <div class="card shadow bg-light p-3 d-flex justify-content-center my-5">
                    <div class="row text-center">
                        {% for pet in profile_user.user_pets.all %}
                            <div class="col-lg-4 col-6 mx-auto">
                                <img id="profile-picture-1" class="profile-picture-mini"  src="{{ pet.profile_picture_url }}" alt="profile picture">
                                <h3 class="mt-3">{{ pet.name }}</h3>
                                <span class="badge text-bg-primary mb-3">
                                    {{ pet.category.capitalize }}
                                </span>
                                <blockquote>{{ pet.bio }}<blockquote>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-4 order-1 order-lg-2">
            <div class="shadow border rounded p-4">
                <img alt="profile picture" class="profile-picture border-rounded mb-2 
                {% if profile_user.profile_picture_url %}
                    border-purple"
                    src="{{ profile_user.profile_picture_url }}"
                {% else %}
                    " src="{% static 'pets/img/default_profile.png' %}"
                {% endif %}>
                <h3>{{ profile_user.first_name }} {{ profile_user.last_name }}</h3>
                <span class="badge text-bg-secondary">
                    Pet Owner
                </span>
                {% if profile_user.is_pet_sitter %}
                <span class="badge text-bg-primary mb-4">
                    Pet Sitter
                </span>
                <br>
                <div class="d-flex d-lg-block my-4 my-lg-0">
                    <div class="col-4 col-lg-12">
                        <h4>${{ profile_user.hour_rate }}</h4>
                        <p class="text-secondary"><small>Hour rate</small></p>
                    </div>
                    <div class="col-4 col-lg-12">
                        <h4>47</h4>
                        <p class="text-secondary"><small>Number of deals</small></p>
                    </div>
                    <div class="col-4 col-lg-12">
                        <h4>10min</h4>
                        <p class="text-secondary"><small>Average response time</small></p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row text-center my-5" style="height: 200vh">
        <div class="col-12 d-flex justify-content-between">
            <div>
                <h3 style="white-space: nowrap">Avaliações</h3>
            </div>
            <div>

                <span class="badge rounded-pill text-bg-light px-4"> <svg xmlns="http://www.w3.org/2000/svg" class="mb-1" width="24" height="24" fill="rgb(255, 181, 0)" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg> <span>4.8</span> <span>(num avaliações)</span>
                </span>
            </div>
        </div>
    </div>
</div>

{% if user != profile_user %}
    <div class="footer sticky-bottom sticky bg-white shadow text-center p-4 
    {% if not profile_user.is_pet_sitter %} d-none {%endif%}" id="footer">
        <button type="button" class="btn btn-bd-primary w-75" >Send a request</button>
    </div>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'pets/profile.js' %}"></script>
{% endblock %}