{% extends "pets/layout.html" %}
{% load static %}

{% block header %}
{% endblock %}

{% block body %}

<div class="text-center mb-3 mt-4">
    <a class="navbar-brand mr-3 mb-3" href="{% url 'index' %}">
        <img src="{% static 'pets/img/logo.png' %}" alt="logo" class="logo">
    </a>
    <h5>Register</h5>
</div>

<div id="first-container" class="">
    {% if not message %}
        <form action="{% url 'register' %}" method="post" class="w-100 mw-30 border rounded p-4 bg-light mx-auto">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" value="Sign up">
        </form>
    {% else %}
        {{ message }}
    {% endif %}

    <div align="center">
        <div  class="card text-center mt-3 p-1 w-100 mw-30">
            Already have an account? <a href="{% url 'login' %}">Log in</a>
        </div>
    </div>
</div>

{% endblock %}

