{% extends "auctions/listing-active.html" %}

{% block watchlist %}
    {% if not in_watchlist %}
    <div class="row mb-2">
        <div class="col-12">
            <a href="{% url 'add_to_watchlist' listing.id %}" class="btn btn-success btn-sm">
                Add to watchlist
            </a>
        </div>
    </div>
    {% else %}
    <div class="row mb-2">
        <div class="col-12">
            <a href="{% url 'remove_from_watchlist' listing.id %}" class="btn btn-secondary btn-sm">
                Remove from watchlist
            </a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <h4>This auction was closed for ${{ listing.bids.last.value }} at {{ listing.updated_at }}</h4>
        </div>
    </div>
    {% if listing.winner == request.user %}
        <div class="row text-center mt-3">
            <div class="col-1 col-lg-3"></div>
            <div class="col-10 col-lg-6 alert alert-success">
                Congratulations, {{ request.user }}, you won this auction!
            </div>
            <div class="col-1 col-lg-3"></div>
        </div>
    {% endif %}
{% endblock %}