{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    
        <div style="margin: 0 auto">
            <h1>Create New Page</h1>
            <form action="{% url 'new_page' %}" method="post" accept-charset="UTF-8" style="display: inline-flexbox; text-align: center;">
                {% csrf_token %}
                {{ form }}<br>
                <input class="submit" type="submit" value="Save new page">
            </form>
        </div>
    {% if name_error %}
        <div class="error_container">
            <p>Sorry, the page you tried to create already exists. Change the title or <a href="{% url 'edit_page' entry_title %}">edit the existing page.<p>
        </div> 
    {% endif %}
{% endblock %}