{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="all-posts-view">
        <div class="row sticky-top semi-transparent-gray sticky mb-3 p-3 border-bottom">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row mb-3 px-3">
            <div class="col text-center">
                <form action="{% url 'new_post' %}" method="post" accept-charset="UTF-8" class="form">
                    {% csrf_token %}
                    {{form}}<br>
                    <input class="btn btn-primary" type="submit" value="Submit" 
                    {% if not user.is_authenticated %}disabled{% endif %}>
                </form>
            </div>
        </div>
        {% for post in posts_page %}
            <div class="row mb-2 p-3 border-bottom">
                <div class="col">
                    <span><a class="text-decoration-none" href="{% url 'user_profile' post.owner %}"><strong>{{ post.owner }}</strong></a></span> 
                    <span class="font-weight-lighter">at {{ post.creation_date }}</span><br>
                    <span>{{ post.content }}</span><br>
                    <a href="#"><svg height="1rem" data-name="red heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 107.39"><defs><style>.cls-1{fill:#ed1b24;fill-rule:evenodd;}</style></defs><title>red-heart</title><path class="cls-1" d="M60.83,17.18c8-8.35,13.62-15.57,26-17C110-2.46,131.27,21.26,119.57,44.61c-3.33,6.65-10.11,14.56-17.61,22.32-8.23,8.52-17.34,16.87-23.72,23.2l-17.4,17.26L46.46,93.55C29.16,76.89,1,55.92,0,29.94-.63,11.74,13.73.08,30.25.29c14.76.2,21,7.54,30.58,16.89Z"/>
                    </svg></a>
                    <span>0</span>
                </div>
            </div>
            {% empty %}
            <strong>No posts to show.</strong>
        {% endfor %}
        <div class="p-3 border-bottom">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item 
                    {% if posts_page.number == 1 %} disabled {% endif %}">
                        <a class="page-link" tabindex="-1" id="previous_page" href="#">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" id="page_button_1" href="#"></a></li>
                    <li class="page-item"><a class="page-link" id="page_button_2" href="#"></a></li>
                    <li class="page-item"><a class="page-link" id="page_button_3" href="#"></a></li>
                    <li class="page-item
                    {% if posts_page.number == num_pages %} disabled {% endif %}">
                        <a class="page-link" id="next_page" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block script %}
{{ posts_page.number|json_script:"page_number" }}
{{ num_pages|json_script:"num_pages" }}
<script src="{% static 'network/paginator.js' %}"></script>
{% endblock %}