{% extends "network/layout.html" %}
{% load static %}
{% load index %}

{% block body %}
    <div class="row sticky-top semi-transparent-gray sticky border-bottom">
        <div class="col px-4 py-2">
            <span class="mb-5 font-weight-bold">{{ profile_user.username }}</span>
            <br><span class="">{{ posts_page.paginator.count }} Posts</span>
        </div>
    </div>
    <div class="row py-2 d-flex border-bottom">
        <div class="col-2 text-center" style="line-height:2.5em">
            <span id="followers-count" class="font-weight-bold">{{ profile_user.followers.all.count }}</span> 
            <span id="followers-text">{% if profile_user.followers.all.count == 1 %} Follower {% else %} Followers {% endif %}</span>
        </div>
        <div class="col-2 text-center" style="line-height:2.5em">
            <span class="font-weight-bold">{{ profile_user.following.all.count }}</span> Following
        </div>
        <div class="col-5"></div>
        {% if user.is_authenticated and user != profile_user%}
            <div class="col-3 text-center" style="line-height:2.5em">
                <button class="btn btn-sm btn-outline-primary" id="follow-button">{{ follow_msg }}</button>
            </div>
        {% endif %}
    </div>
    {% for post in posts_page %}
    <div class="row mb-2 p-3 border-bottom">
        <div class="col post">
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <span><a class="text-decoration-none" href="{% url 'user_profile' post.owner %}"><strong>{{ post.owner }}</strong></a></span> 
                    <span class="font-weight-lighter">at {{ post.creation_date }}</span>
                </div>
                {% if user == post.owner %}
                    <div>
                        <a class="edit-post" href="#">Edit</a>
                    </div>
                {% endif %}
            </div>
            <div class="post-content mb-3">
                <span class="current-content">{{ post.content }}</span>
                <form style="display:none" class="edit-post-form">
                    {{ form }}
                    <input type="hidden" class="post-id" name="post-id" value="{{ post.id }}">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-sm btn-secondary" type="button" name="cancel" value="Cancel">
                            Cancel
                        </button>
                        <button class="btn btn-sm btn-primary" type="button" name="save" value="Save">
                            Save
                        </button>
                    </div>
                </form>
            </div>
            {% if user.is_authenticated %}
                        <a class="like text-decoration-none" href="">
                    {% else %}
                        <a class="like disabled text-decoration-none">
                    {% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <defs>
                                <style>
                                    .svg-color-red{fill:#ed1b24;fill-rule:evenodd;}
                                    .svg-color-grey{fill:#cccccc;fill-rule:evenodd;}
                                </style>
                            </defs>
                            <path 
                            {% if is_liked|index:forloop.counter0 %}
                                class="svg-path svg-color-red"
                            {% else %}
                                class="svg-path svg-color-grey"
                            {% endif %}
                            d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/>
                        </svg>
                    </a>
                        <span class="likes-count ml-2">{{ post.likes.all.count }}</span>
        </div>
    </div>
    {% empty %}
        <strong>No posts to show.</strong>
    {% endfor %}

    <div class="p-3 border-bottom">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item 
                {% if posts_page.number == 1 %} disabled {% endif %}">
                    <a class="page-link" tabindex="-1" id="previous-page" href="#">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" id="page-button-1" href="#"></a></li>
                <li class="page-item"><a class="page-link" id="page-button-2" href="#"></a></li>
                <li class="page-item"><a class="page-link" id="page-button-3" href="#"></a></li>
                <li class="page-item
                {% if posts_page.number == num_pages %} disabled {% endif %}">
                    <a class="page-link" id="next-page" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}

{% block script %}
    {{ posts_page.number|json_script:"page_number" }}
    {{ num_pages|json_script:"num_pages" }}
    {{ profile_user.username|json_script:"profile_username" }}
    <script src="{% static 'network/paginator.js' %}"></script>
    <script src="{% static 'network/follow.js' %}" type="module"></script>
    <script src="{% static 'network/edit.js' %}" type="module"></script>
    <script src="{% static 'network/like.js' %}" type="module"></script>
{% endblock %}