{% extends "auctions/layout.html" %}

{% block body %}
    <div class="title row">
        <h2>Categories</h2>
    </div>
    <div class="row p-1 border-top border-bottom" style="height: 15vh;">
        <table class="h-100 w-100">
            <tbody>
                <tr>
                    <td class="align-middle">
                        {% for category in categories %}
                            {% if category != "" %}
                                <div class="col-4 justify-content-start">
                                    <ul>
                                        <li>
                                            <div class="row mt-1">
                                                <div class="col-12">
                                                    <a href="{% url 'specific_category' category %}">
                                                        <h4>{{ category }}</h4>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                            {% empty %}
                                <h4 class="text-center">
                                    Oops. No categories listed.
                                </h4>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
        
{% endblock %}