{% extends "auctions/layout.html" %}

{% block body %}
    <div class="title row">
        <h2>{% block header %}Active Listings{% endblock %}{{ category }}</h2>
        {% if message %} 
            <div class="col-2 text-center alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    </div> 
    {% for listing in listings %}
        {% if forloop.counter|divisibleby:4 or forloop.first %}<div class="row p-1 border-top border-bottom">{% endif %}
            {% if listing.image_url != "" %}
                <div class="col-4 p-3 border-right">
                    <div class="row justify-content-center">
                        <a href="{% url 'listing' listing.id %}">
                            <img class="active-fig" src="{{ listing.image_url }}" alt="listing {{ listing.id }}">
                        </a>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <a href="{% url 'listing' listing.id %}" style="color: black">
                            <h3>{{ listing.title}}</h3>
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <h5>
                            <span style="font-weight: 300">${{ listing.bids.last.value }}</span>
                        </h5>
                    </div>
                    <div class="row justify-content-center">
                        <p>{{ listing.description }}</p>
                    </div>
                    <div class="row justify-content-center">
                        <p style="font-weight: 300; font-size: small">
                            Created {{ listing.created_at }}
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="col-4 p-4 border-right" style="min-height: 40vh">
                    <table style="height: 100%; width: 100%;">
                        <tbody>
                            <tr>
                                <td class="align-middle">
                                    <div class="row justify-content-center">
                                            <a href="{% url 'listing' listing.id %}" style="color: black">
                                                <h1 class="display-4">{{ listing.title}}</h1>
                                            </a>
                                    </div>
                                    <div class="row justify-content-center">
                                            <h4>
                                                <span style="font-weight: 200">
                                                ${{ listing.bids.last.value }}
                                            </span></h4>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p class="lead">{{ listing.description }}</p>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p style="font-weight: 300; font-size: small">
                                            Created {{ listing.created_at }}
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% if forloop.counter|divisibleby:3 %}</div>{% endif %}
    {% endfor %}

{% endblock %}