{% extends "auctions/layout.html" %}

{% block body %}
    <div class="title row">
        <h2>Active Listings</h2><h6><a href="{% url 'new_listing' %}">New listing</a></h6>
    </div> 
    {% for listing in listings %}
        <div class="row active-box">
            <div class="col-4" style="border-right: 1px solid rgb(220,220,220)">
                <img class="active-fig" src="{{ listing.image_url }}" alt="listing {{ listing.id }}">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <h3>{{ listing.title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Price: <span style="font-weight: 200">${{ listing.starting_bid }}</span></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{ listing.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}