{% extends "auctions/layout.html" %}

{% block body %}
<div class="title row">
    <h2>Listing: {{ listing.title }}</h2>
</div>
    {% if user.is_authenticated %}
    <div class="row" style="margin-bottom: 1rem">
        <div class="col-12">
            <button type="button" class="btn btn-secondary btn-sm">
                Watchlist
            </button>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-6">
            <img class="alt-active-fig" src="{{ listing.image_url }}" alt="listing {{ listing.id }}">
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <p style="font-size: larger">{{ listing.description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>${{ listing.starting_bid }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>bids so far.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary">
                        Place bid
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row title" style="margin-top: 1rem">
        <h3>Details</h3>
    </div>
{% endblock %}