{% extends "auctions/layout.html" %}

{% block body %}
<div class="title row">
    <h2>Listing: {{ listing.title }}</h2>
</div>
    {% if user.is_authenticated %}
        <div class="row" style="margin-bottom: 1rem">
            <div class="col-12">
                <button type="button" class="btn btn-secondary btn-sm">
                    Watchlist
                </button>
            </div>
        </div>
    {% else %}
        <div class="row" style="margin-bottom: 1rem">
            <div class="col-12">
                <button type="button" class="btn btn-secondary btn-sm" disabled>
                    Watchlist
                </button>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-6" 
        style="background-color: rgb(245,245,245); padding: 1rem; border-radius: 0.5rem;"
        >
            <img class="alt-active-fig" src="{{ listing.image_url }}" alt="listing {{ listing.id }}">
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <p style="color: rgb(100,100,100);">{{ listing.description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>${{ last_bid.value }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        {{ listing.bids.all.count }} bids so far.
                        {% if last_bid.owner == request.user %}
                        Your bid is the current bid.
                        {% endif %}
                    </p>
                </div>
            </div>
            <form action="{% url 'listing' listing.id %}" method="post" accept-charset="UTF-8">
                {% csrf_token %}
                {% if user.is_authenticated %}
                    <div class="row">
                        <div class="col-12">
                            {{ form }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">
                                Place bid
                            </button>
                        </div>
                    </div>
                    <!--{% if listing.owner == request.user %}
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-outline-success">
                                    Close auction
                                </button>
                            </div>
                        </div> Gotta finish this! -->
                {% else %}
                    <div class="row">
                        <div class="col-12">
                            {{ form }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" disabled>
                                You must be logged in
                            </button>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row title" style="margin-top: 1rem">
        <h3>Details</h3>
    </div>
{% endblock %}