body{
  overflow-x: hidden;
}

.logo{
  height: 4rem;
}

.img-container{
  position: relative;
  text-align: center;
}

.mw-30{
  max-width: 30rem;
}

.mw-50{
  max-width: 50rem;
}

.shadow{
  box-shadow: 0 0 0.1rem rgb(200,200,200);
}

.color-purple{
  color: rgb(102, 45, 145);
}

.border-purple{
  border: 2px solid rgb(102, 45, 145);
}

.center-top{
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-top2{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-bottom{
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-picture {
  height: 25vh;
  width: 25vh;
  border-radius: 20%;
  object-fit: cover;
}

.profile-picture-mini {
  height: 15vh;
  width: 15vh;
  border-radius: 20%;
  object-fit: cover;
}

.alt-card {
  width: 100%; 
  height: 25vh; 
  background-color: rgb(203, 195, 227);
}

div#footer, div#header{
  opacity:0;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;     
  -o-transition: opacity 0.35s;  
  transition: opacity 0.35s; 
}

div#footer.fade, div#header.fade {
  opacity:1;
}

/* Register page */
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: rgb(140, 112, 224);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
