body{
    overflow-x: hidden;
}

.logo{
    height: 4rem;
}

.auth-form-container{
    margin: auto;
}

.img-container{
    position: relative;
    text-align: center;
    color: white;
}

.mw-30{
    max-width: 30rem;
}

.color-purple{
    color: rgb(102, 45, 145);
}

.center-top{
    position: absolute;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-bottom{
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
}