body{
    overflow-x: hidden;
}

.logo{
    height: 4rem;
}

.img-container{
    position: relative;
    text-align: center;
}

.mw-30{
    max-width: 30rem;
}

.mw-50{
    max-width: 50rem;
}

.shadow{
    box-shadow: 0 0 0.1rem rgb(200,200,200);
}

.color-purple{
    color: rgb(102, 45, 145);
}


.center-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-picture {
    height: 25vh;
    width: 25vh;
    border-radius: 20%;
    border: 2px solid rgb(102, 45, 145);
    object-fit: cover;
}
/* Register page */
