/*---------reset---------*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

* a{
    text-decoration: none;
    color: var(--regular-text-color);
}

* input{box-sizing:border-box} 

/*---------variables---------*/
:root{
    --regular-text-color: rgb(51,51,51);
}

/*---------layout---------*/

.headerContent{
    height: 3rem;
    margin-bottom: 4rem;
    padding: 0.75rem;
    display: flex;
    justify-content: right;
    margin-left: auto;
    margin-right: 0.5rem;
}

.container{
    margin-left: 2rem;
}

.formContainer, .logoContainer, .buttonHolder{
    display: flex;
    justify-content: center;
    text-align: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: rgb(242, 242, 242);
    font-size: small;
}

/*---------general styling---------*/

header a{
    margin-left: 2rem;
    font-size: 0.9rem;
}

header a:hover{
    text-decoration: underline;
}

.form{
    width: 100%;
    max-width: 700px;
}

.searchInput{
    border-radius: 1.5rem;
    border: 0.1rem solid rgb(230, 230, 230);
    padding: 0.75rem 0.75rem;
    padding-left: 3rem;
    margin-bottom: 1.5rem;
    font-size: medium;
    background: transparent url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDIwLjUgNiBDIDEyLjUwOTYzNCA2IDYgMTIuNTA5NjQgNiAyMC41IEMgNiAyOC40OTAzNiAxMi41MDk2MzQgMzUgMjAuNSAzNSBDIDIzLjk1NjM1OSAzNSAyNy4xMzM3MDkgMzMuNzc5MDQ0IDI5LjYyODkwNiAzMS43NSBMIDM5LjQzOTQ1MyA0MS41NjA1NDcgQSAxLjUwMDE1IDEuNTAwMTUgMCAxIDAgNDEuNTYwNTQ3IDM5LjQzOTQ1MyBMIDMxLjc1IDI5LjYyODkwNiBDIDMzLjc3OTA0NCAyNy4xMzM3MDkgMzUgMjMuOTU2MzU3IDM1IDIwLjUgQyAzNSAxMi41MDk2NCAyOC40OTAzNjYgNiAyMC41IDYgeiBNIDIwLjUgOSBDIDI2Ljg2OTA0NyA5IDMyIDE0LjEzMDk1NyAzMiAyMC41IEMgMzIgMjMuNjAyNjEyIDMwLjc3NjE5OCAyNi40MDU3MTcgMjguNzkxMDE2IDI4LjQ3MDcwMyBBIDEuNTAwMTUgMS41MDAxNSAwIDAgMCAyOC40NzA3MDMgMjguNzkxMDE2IEMgMjYuNDA1NzE3IDMwLjc3NjE5OSAyMy42MDI2MTQgMzIgMjAuNSAzMiBDIDE0LjEzMDk1MyAzMiA5IDI2Ljg2OTA0MyA5IDIwLjUgQyA5IDE0LjEzMDk1NyAxNC4xMzA5NTMgOSAyMC41IDkgeiI+PC9wYXRoPjwvc3ZnPg==') no-repeat 1rem center;
    background-size: 3.5%;
    width: 75%;
}

.searchInput:hover{
    box-shadow: 0 0 0.2rem rgb(200,200,200);
}

.searchInput:focus{
    outline: none !important;
    border: 0.1rem solid rgb(200,200,200);
}


.submitButton{
    border-radius: 0.2rem;
    border: 0.01rem solid rgb(250, 250, 250);
    padding: 0.5rem 1.5rem;
    font-size: medium;
    background-color: rgb(250,250,250);
    color: var(--regular-text-color);
    margin: 0 0.5rem;
}

.submitButton:hover{
    border: 1px solid rgb(200, 200, 200);
}

.searchInput::placeholder{
    color: #bbb;
}

.logo{
    width: 300px;
    margin-bottom: 1rem;
}


/*---------Advanced search page styles---------*/

.advancedHeader{
    /*height: 3rem;*/
    margin-bottom: 2rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 0.5rem;
}

.advancedContainer{
    border-bottom: 1px solid rgb(200, 200, 200);
    border-width: thin;
    font-weight: 50;
}

.advancedContainer p{
    font-size: 125%;
    margin-bottom: 2rem;
    color: rgb(217,48,37);
}

.advancedFormContainer{
    margin-top: 2rem;
    font-size: smaller;
    color: var(--regular-text-color);
}

/*gotta chance this h4 for a div or something*/
.advancedFormContainer h4{
    font-weight: 100;
    font-size: medium;
}

.advancedFields{
    width: 10rem;
    height: 1.875rem;
    max-width: 10rem;
    display: inline-block;
}

.advancedInputContainer{
    display: inline-block;
    width: 50%;
    max-width: 35rem;
    margin-bottom: 0.75rem;
}

.advancedInputContainer input{
    width: 100%;
    max-height: 2rem;
    border: 0.1rem solid rgb(230, 230, 230);
    border-top: 0.1rem solid rgb(200, 200, 200);
    padding: 0.5rem;
}

.advancedInputContainer input:focus{
    outline: none !important;
    border:1px solid rgb(71, 138, 249);
    box-shadow: 0 0 1px #719ECE;
}

.advancedButtonHolder{
    display: inline-block;
    width: 50%;
    max-width: 35rem;
    justify-content: right;
    text-align: right;
}

.advancedSubmitButton{
    border-radius: 0.2rem;
    border: 0.01rem solid rgb(67, 111, 203);
    padding: 0.5rem 1rem;
    font-size: small;
    background-color: rgb(250,250,250);
    color: white;
    background-image: linear-gradient(to right, rgb(71, 138, 249), rgb(62, 130, 240));
}

.advancedSubmitButton:hover{
    border: 0.04rem solid rgb(47, 91, 183);
    background-image: linear-gradient(to top, rgb(61, 128, 239), rgb(52, 120, 230))
}